@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <b>1. What Information We Collect</b> <br />
    We collect:<br />
    •	Personal Information: Name, phone number and payment details.<br />
    •	Location Data: GPS data to match riders and drivers.<br />
    •	Trip Details: Pick-up and drop-off locations, and trip history.<br />
    •	Device Information: Data like IP address and app usage patterns.<br />
    •	Driver Info: For drivers, vehicle and license details.<br />
    <br /> <br />
    <b>2. How We Use Your Information</b> <br />
    We use your information to: <br />
    •	Match riders with drivers. <br />
    •	Process payments and send trip receipts.<br />
    •	Improve our app and services.<br />
    •	Communicate with you about your trips or account.<br />
    •	Comply with legal requirements.<br />
    <br /><br />
    <b>3. Who We Share It With</b>h<br />
    •	Drivers and Riders: Riders see the driver’s name, photo, vehicle info, and location during trips. Drivers see the rider’s name and pick-up/drop-off locations.<br />
    •	Service Providers: We may share data with trusted partners for payments, customer support, or app improvements.<br />
    •	Legal Reasons: We’ll share data if required by law.<br />
    <br /><br />
    <b> Your Choices</b><br />
    You can:<br />
    •	Update or correct your information in the app.<br />
    •	Request deletion of your account and data.<br />
    •	Opt out of marketing messages.<br />
    <br /> <br />
    <b>5. Keeping Your Data Safe</b><br />
    We use security measures to protect your data, but no system is 100% secure.<br />
    <br /><br />
    <b>6. Updates to This Policy</b><br />
    We may update this policy from time to time. You’ll be notified of significant changes.<br />
    <br /><br />
    <b>7. Contact Us</b><br />
    For questions or concerns, reach us at:<br />
    Email: xyz@gmail.com<br />
    Phone: 9800000000<br />

</p>
